.main {
  height: 100vh;
  overflow-y: hidden;
  /* background-color: black; */
}

.main_chat {
  /* background-color: #fafafa; */
  background-color: lightgray;
  /* background-color: pink; */
}

.header_chat {
  background-color: white;
}

/* chat */
.main .chat_messages {
  display: flex;
  flex-direction: column;
  height: 75vh;
  /* background-color: red; */
  overflow-y: scroll;
}

.main .chat_message_left,
.main .chat_message_right {
  display: flex;
  flex-shrink: 0;
}

.main .chat_message_left {
  margin-right: auto;
  /* background-color: red; */
  /* flex-direction: row-reverse; */
}

.main .chat_message_right {
  flex-direction: row-reverse;
  margin-left: auto;
}
